/.deps/
/.libs/
/ChangeLog
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/compile
/config.guess
/config.log
/config.status
/config.sub
/configure
/depcomp
/gcroots.lo
/gcroots.o
/gcroots.pc
/gnuify-changelog.pl
/install-sh
/libgcroots.la
/libtool
/ltmain.sh
/m4/Makefile
/m4/Makefile.in
/mach_dep.lo
/mach_dep.o
/mark.lo
/mark.o
/missing
